# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/refs/heads/main/charts/other/app-template/values.schema.json
controllers:
  home-assistant:
    pod:
      hostNetwork: true
      priorityClassName: high-priority
    containers:
      app:
        image:
          repository: ghcr.io/home-operations/home-assistant
          tag: 2026.1.1@sha256:4dbdda39034b3f859ea6dc961bb12d4ccc7046a30738af8b1c2bb3188a7d6617
        env:
          TZ: America/Los_Angeles
          HASS_HTTP_TRUSTED_PROXY_1: 10.244.0.0/24
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          capabilities: { drop: ["ALL"] }
        resources:
          requests:
            cpu: 10m
          limits:
            memory: 2Gi
defaultPodOptions:
  securityContext:
    runAsNonRoot: true
    runAsUser: 1000
    runAsGroup: 1000
    fsGroup: 1000
    fsGroupChangePolicy: OnRootMismatch
    seccompProfile:
      type: RuntimeDefault
service:
  app:
    controller: home-assistant
    ports:
      http:
        port: 8123
persistence:
  config:
    enabled: true
    existingClaim: home-assistant-data
    globalMounts:
      - path: /config
  config-logs:
    type: emptyDir
    globalMounts:
      - path: /config/logs
  config-tts:
    type: emptyDir
    globalMounts:
      - path: /config/tts
  tmp:
    type: emptyDir
    globalMounts:
      - path: /tmp
