kubeconfig
.terraform/*
.terraform
terraform.tfstate
*.backup
secrets.yaml
cp*.yaml
talosconfig
worker*.yaml
kustomize/**/*.sops*
pod.yaml
# temporary exclude until I decide how to handle this
kustomize/ingress/*
