# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/refs/heads/main/charts/other/app-template/values.schema.json
controllers:
  zwave:
    containers:
      app:
        image:
          repository: ghcr.io/zwave-js/zwave-js-ui
          tag: 11.9.1@sha256:a7036e59a9d7916d1f92f2fa1e0b9f4a5ed317fc8bef38756368f7c865e0e95a
        env:
          TZ: America/Los_Angeles
          PORT: &port 80
        probes:
          liveness: &probes
            enabled: true
            custom: true
            spec:
              httpGet:
                path: /health
                port: *port
              initialDelaySeconds: 0
              periodSeconds: 10
              timeoutSeconds: 1
              failureThreshold: 3
          readiness: *probes
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          capabilities: { drop: ["ALL"] }
        resources:
          requests:
            squat.ai/zwave: "1"
            cpu: 10m
          limits:
            squat.ai/zwave: "1"
            memory: 512Mi
defaultPodOptions:
  securityContext:
    # runAsNonRoot: true
    # runAsUser: 1000
    # runAsGroup: 1000
    # fsGroup: 1000
    # fsGroupChangePolicy: OnRootMismatch
    runAsNonRoot: false
    runAsUser: 0
    runAsGroup: 0
    fsGroup: 0
    fsGroupChangePolicy: OnRootMismatch
service:
  app:
    controller: zwave
    ports:
      http:
        port: *port
      websocket:
        port: 3000
persistence:
  config:
    existingClaim: zwave2
    globalMounts:
      - path: /usr/src/app/store
  tmp:
    type: emptyDir
