apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization


helmCharts:
  - name: prometheus-blackbox-exporter
    repo: https://prometheus-community.github.io/helm-charts
    namespace: default
    includeCRDs: true
    releaseName: prometheus-blackbox-exporter
    version: 11.4.2
    valuesFile: values.yaml
