image:
  registry: quay.io
  repository: prometheus/blackbox-exporter
  tag: v0.28.0@sha256:e753ff9f3fc458d02cca5eddab5a77e1c175eee484a8925ac7d524f04366c2fc
  pullPolicy: IfNotPresent
persistentVolume:
  enabled: false
resources:
  requests:
    cpu: 50m
    memory: 128Mi
securityContext:
  runAsUser: 65532
  runAsGroup: 65532
  readOnlyRootFilesystem: true
  runAsNonRoot: true
  allowPrivilegeEscalation: false
  capabilities:
    drop: ["ALL"]
service:
  type: LoadBalancer
  port: 9115
