image:  # @schema additionalProperties: false
  # -- Traefik image host registry
  registry: docker.io
  # -- Traefik image repository
  repository: traefik
  # -- defaults to appVersion. It's used for version checking, even prefixed with experimental- or latest-.
  # When a digest is required, `versionOverride` can be used to set the version.
  tag: "v3.6.4@sha256:beebe9d00a6f7cd8cf35581eb9c065d30d1ac0b961a5561fb106c64d10d8d76d" # @schema type:[string, null]
  # -- Traefik image pull policy
  pullPolicy: IfNotPresent

deployment:
  enabled: true
  replicas: 1

ingressClass:
  enabled: true
  isDefaultClass: false
  name: traefik-internal

service:
  enabled: true
  type: LoadBalancer
  spec:
    loadBalancerIP: "192.168.5.10"
    externalTrafficPolicy: Local
  annotations:
    kube-vip.io/loadbalancerIPs: 192.168.5.10

ports:
  web:
    port: 80
    expose:
      default: true
    exposedPort: 80
  websecure:
    port: 443
    expose:
      default: true
    exposedPort: 443

ingressRoute:
  dashboard:
    enabled: true

providers:
  kubernetesCRD:
    enabled: true
  kubernetesIngress:
    enabled: true
    allowExternalNameServices: true
    ingressClass: traefik-internal
  kubernetesIngressNginx:
    enabled: false
    ingressClass: nginx
logs:
  general:
    level: INFO
  access:
    enabled: true
global:
  checkNewVersion: false
  sendAnonymousUsage: false

nodeSelector:
  "kubernetes.io/hostname": "worker-one"
