radarr:
  global:
    fullnameOverride: radarr
  controller:
    type: statefulset
    podManagementPolicy: Parallel
  securityContext:
    allowPrivilegeEscalation: false
    capabilities:
      drop:
        - ALL
    privileged: false
    readOnlyRootFilesystem: false
    runAsNonRoot: true
    seccompProfile:
      type: RuntimeDefault
  podSecurityContext:
    runAsUser: 998
    runAsGroup: 997
  env:
    TZ: America/Los_Angeles
  image:
    repository: ghcr.io/home-operations/radarr
    tag: 6.1.0.10316@sha256:ba33a817917792a589f1223e2da9d336692f9eb626b15ff8c7f06afcab4356bd
  persistence:
    media:
      enabled: true
      mountPath: /media
      existingClaim: media-pvc-zfs
      type: pvc
    config:
      enabled: true
      mountPath: /config
      existingClaim: radarr-config-zfs
      type: pvc
      retain: true
  resources:
    limits:
      memory: 1G
    requests:
      cpu: 100m
      memory: 300Mi
