vaultwarden:
  global:
    fullnameOverride: vaultwarden
  controller:
    type: statefulset
    podManagementPolicy: Parallel
  image:
    repository: ghcr.io/dani-garcia/vaultwarden
    tag: 1.35.0-alpine@sha256:daace46f8392d7e4ea48e8c2c34f78b8ecc8cee313586c656396d30523493f54
    pullPolicy: IfNotPresent
  envFrom:
    - secretRef:
        name: vaultwarden
  securityContext:
      runAsUser: 65532
      runAsGroup: 65532
      readOnlyRootFilesystem: false
      runAsNonRoot: true
      allowPrivilegeEscalation: false
      capabilities:
        drop: ["ALL"]
      seccompProfile:
        type: RuntimeDefault
  env:
    DATA_FOLDER: /config/vaultwarden
    GROUPID: 65532
    SIGNUPS_ALLOWED: false
    TZ: America/Los_Angeles
    USERID: 65532
    ROCKET_PORT: 8080
  service:
    main:
      ports:
        http:
          port: 8080
  persistence:
    config:
      enabled: true
      mountPath: /config/vaultwarden
      existingClaim: vw-config-zfs
      type: pvc
      retain: true
  resources:
    limits:
      memory: 512Mi
    requests:
      cpu: 50m
      memory: 256Mi
