reflector:
  fullnameOverride: reflector
  image:
    repository: emberstack/kubernetes-reflector
    pullPolicy: IfNotPresent
    tag: 9.1.39@sha256:54d9f0f2c8493f78b2bed10de8dcad4908b4d26a373fd5a8484cb99e4ff0f5a3
  podSecurityContext:
    fsGroup: 2000
    runAsGroup: 65532
    runAsNonRoot: true
    runAsUser: 65532
    seccompProfile:
      type: RuntimeDefault
  securityContext:
    capabilities:
      drop:
      - ALL
    readOnlyRootFilesystem: false
    runAsNonRoot: true
    runAsUser: 65532
    allowPrivilegeEscalation: false
