reflector:
  fullnameOverride: reflector
  image:
    repository: emberstack/kubernetes-reflector
    pullPolicy: IfNotPresent
    tag: 9.1.38@sha256:6587f523057f79e73c3372324cf5d5a85cb4bad808cab713aceb97016fa30434
  podSecurityContext:
    fsGroup: 2000
    runAsGroup: 65532
    runAsNonRoot: true
    runAsUser: 65532
    seccompProfile:
      type: RuntimeDefault
  securityContext:
    capabilities:
      drop:
      - ALL
    readOnlyRootFilesystem: false
    runAsNonRoot: true
    runAsUser: 65532
    allowPrivilegeEscalation: false
