controller:
  extraArgs:
    enable-ssl-passthrough: "true"
  podAnnotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: "10254"
  image:
    repository: registry.k8s.io/ingress-nginx/controller
    tag: v1.14.1
    digest: null
  config:
    use-http2: "true"
  addHeaders:
    X-Frame-Options: SAMEORIGIN
  kind: Deployment
  updateStrategy:
    rollingUpdate:
      maxSurge: 100%
      maxUnavailable: 0
    type: RollingUpdate
  minReadySeconds: 10
  metrics:
    enabled: true
    service:
      annotations: {}
  resources:
    limits:
      memory: 2G
    requests:
      cpu: 100m
      memory: 200Mi
  service:
    externalTrafficPolicy: Cluster
