# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/refs/heads/main/charts/other/app-template/values.schema.json
controllers:
  esphome:
    containers:
      app:
        image:
          repository: ghcr.io/esphome/esphome
          tag: "2025.12.5@sha256:02fb00e3b79badaa54c7017e12d2afa9f1158887541f148459b7f653d3f05314"
        env:
          TZ: America/Los_Angeles
          PLATFORMIO_CORE_DIR: /cache/.platformio
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          capabilities: { drop: ["ALL"] }
        resources:
          requests:
            cpu: 100m
          limits:
            memory: 4Gi
defaultPodOptions:
  hostNetwork: true
  securityContext:
    runAsNonRoot: true
    runAsUser: 1000
    runAsGroup: 1000
    fsGroup: 1000
    fsGroupChangePolicy: OnRootMismatch
    seccompProfile:
      type: RuntimeDefault
service:
  app:
    controller: esphome
    ports:
      http:
        port: 6052
persistence:
  cache:
    enabled: true
    type: persistentVolumeClaim
    storageClass: openebs-zfspv
    size: 10Gi
    accessMode: ReadWriteOnce
    globalMounts:
      - path: /cache
      - path: /.cache
  config:
    enabled: true
    existingClaim: esphome
    globalMounts:
      - path: /config
  localtime:
    hostPath: /etc/localtime
    hostPathType: ""
    type: hostPath
    globalMounts:
      - path: /etc/localtime
        readOnly: true
