prowlarr:
  global:
    fullnameOverride: prowlarr
  controller:
    type: statefulset
    podManagementPolicy: Parallel
  securityContext:
    allowPrivilegeEscalation: false
    capabilities:
      drop:
        - ALL
    privileged: false
    readOnlyRootFilesystem: false
    runAsNonRoot: true
    seccompProfile:
      type: RuntimeDefault
  podSecurityContext:
    runAsUser: 568
    runAsGroup: 997
  env:
    TZ: America/Los_Angeles
  image:
    repository: ghcr.io/home-operations/prowlarr
    tag: 2.3.2.5245@sha256:7bdb5470232e8bdf2cf3cd9de60fb1d7180062386163a6c5ad4ea4d2aeddad70
  persistence:
    config:
      enabled: true
      mountPath: /config
      existingClaim: prowlarr-config-zfs
      type: pvc
      retain: true
  resources:
    limits:
      memory: 1G
    requests:
      cpu: 100m
      memory: 400Mi
