# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/refs/heads/main/charts/other/app-template/values.schema.json
defaultPodOptions:
  hostUsers: false
controllers:
  ring-mqtt:
    initContainers:
      copy-config:
        image:
          repository: busybox
          tag: 1.37.0@sha256:d80cd694d3e9467884fcb94b8ca1e20437d8a501096cdf367a5a1918a34fc2fd
        command:
          - sh
          - -c
          - |
            if [ ! -f /data/config.json ]; then
              cp /config/config.json /data/config.json
            fi
            if [ ! -f /data/ring-state.json ]; then
              cp /config/ring-state.json /data/ring-state.json
            fi
    containers:
      app:
        env:
          TZ: America/Los_Angeles
          S6_READ_ONLY_ROOT: "true"
        image:
          repository: tsightler/ring-mqtt
          tag: 5.9.1@sha256:b1c45893aee660b45712648d4c48d5891da8fbd04682fde9c826e58fde9612cb
        ports:
          - name: rtsp
            containerPort: &port 8554
            protocol: TCP
        probes:
          liveness:
            enabled: false
          readiness:
            enabled: false
          startup:
            enabled: false
        # securityContext:
        #   allowPrivilegeEscalation: false
        #   readOnlyRootFilesystem: true
        #   capabilities: { drop: ["ALL"] }
    # pod:
    #   securityContext:
    #     runAsUser: 65534
    #     runAsGroup: 65534
    #     runAsNonRoot: true
service:
  app:
    controller: ring-mqtt
    ports:
      http:
        port: *port
persistence:
  data:
    existingClaim: ring-mqtt-data
    globalMounts:
      - path: /data
  credentials:
    type: secret
    name: ring-mqtt-config
    advancedMounts:
      ring-mqtt:
        copy-config:
          - path: /config/config.json
            subPath: config.json
            readOnly: true
          - path: /config/ring-state.json
            subPath: ring-state.json
            readOnly: true
