cert-manager:
  fullnameOverride: cert-manager
  installCRDs: true
  dns01RecursiveNameservers: "https://1.1.1.1/dns-query,https://1.0.0.1/dns-query"
  dns01RecursiveNameserversOnly: true
  image:
    repository: quay.io/jetstack/cert-manager-controller

    # Override the image tag to deploy by setting this variable.
    # If no value is set, the chart's appVersion will be used.
    tag: v1.19.2@sha256:d4ffb81a6d89a0e690ee80d07fcdcb6cccb99118010e3eb0808442e506e18ab0

    pullPolicy: IfNotPresent
